Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QL]

AddType application/javascript .js .mjs
AddType text/css .css
Header set Content-Type "application/javascript" env=REDIRECT_STATUS
